module: predictor
name: Predictor
Predictor:
  model:
    module: darknet53
    name: YOLOv3
    YOLOv3:
      in_channels: 3
      num_classes: 5
  weight_path: '''../checkpoint/2110211257/best_model_26_loss=-0.8753.pt'''
  batch_size: 1
  image_size: 416
  mean: [0.485, 0.456, 0.406]
  std: [0.229, 0.224, 0.225]
  anchors: [
    [[116.48, 91.52], [158.08, 199.68], [374.4, 324.48]],  # S = 13
    [[29.12, 62.4 ], [62.4, 45.76], [58.24, 120.64]],      # S = 26
    [[8.32, 12.48], [16.64, 29.12], [33.28, 24.96]],       # S = 52
  ]
  score_threshold: 0.4
  iou_threshold: 0.2
  classes:
    acapacitor: 0
    diode: 1
    IC: 2
    resistor: 3
    transistor: 4
  device: '''cuda'''
